let config = {
    user: {
        email: 'my@email.com',
        name: 'Bobby'
    },
    location: 'myhome',
    mqtt: {
        host: 'mqtt://broker.emqx.io:8083',
        options: {
            username: "user",
            password: "password",
            clientId: 'myId'
        },
    }
};

export default config;
